defmodule <%= module_name %>.App do
  @moduledoc "Application entry point for <%= display_name %>."

  use Mob.App

  @impl Mob.App
  def navigation(_platform) do
    stack(:main, root: <%= module_name %>.HomeScreen)
  end

  @impl Mob.App
  def on_start do
    Mob.Screen.start_root(<%= module_name %>.HomeScreen)
    Mob.Dist.ensure_started(node: :"<%= app_name %>_android@127.0.0.1", cookie: :mob_secret)
  end
end
