defmodule <%= module_name %>.App do
  @moduledoc "Application entry point. Starts the root screen via Mob.Screen.start_root/1."

  def start do
    result = Mob.Screen.start_root(<%= module_name %>.HelloScreen)
    Mob.Dist.ensure_started(node: :"<%= app_name %>_android@127.0.0.1", cookie: :mob_secret)
    result
  end
end
